@media (max-width: 900px) {
  .header {
    padding: 15px; }
    .header-logo {
      font-size: 26px; }
    .header-resume__link {
      font-size: 25px; }
    .header-resume__title {
      font-size: 14px; }

  .info-content__img {
    width: 250px; }
  .info-content__name {
    font-size: 32px; }
  .info-content__occupation {
    font-size: 22px; }
  .info-resume {
    margin-top: 20px;
    max-width: 190px; }
    .info-resume__btn {
      padding: 5px; }
    .info-resume__link {
      font-size: 24px; }
    .info-resume__title {
      font-size: 14px; }

  .contacts-title__item {
    font-size: 18px; }

  .contacts-value__item {
    font-size: 16px; }

  .footer__contacts__item {
    padding-bottom: 30px; }
  .footer__contacts__list {
    flex-direction: column; }
  .footer__contacts__link {
    margin-top: 15px; }
  .footer__contacts__title {
    text-align: center; } }
@media (max-width: 700px) {
  .contact-btns__telegram {
    right: 16px;
    bottom: 1px;
    animation-delay: .2s; }
  .contact-btns__viber {
    left: 12px;
    bottom: 23px;
    animation-delay: .4s; }
  .contact-btns__skype {
    left: 70px;
    bottom: 1px;
    animation-delay: .6s; }
  .contact-btns__img {
    width: 30px; }
    .contact-btns__img_main {
      width: 50px; }

  .info {
    padding-top: 100px; }
    .info-content__img {
      width: 225px; }
    .info-content__name {
      font-size: 26px; }
    .info-content__occupation {
      font-size: 20px;
      padding-top: 20px; }
    .info-content__contacts {
      margin-top: 30px;
      margin-bottom: 30px; }
    .info-resume {
      max-width: 170px; }
      .info-resume__link {
        font-size: 20px; }
      .info-resume__title {
        font-size: 12px; }

  .contacts-title__item {
    font-size: 18px;
    padding: 7px 0; }

  .contacts-value__item {
    font-size: 16px;
    padding: 8px 0; } }
@media (max-width: 650px) {
  .info {
    height: 100vh;
    padding-top: 0px;
    display: flex;
    align-items: center; }
    .info-content {
      flex-direction: column;
      align-items: center; }
      .info-content__img {
        width: 225px;
        margin-bottom: 50px; }
      .info-content__name {
        font-size: 26px; }
      .info-content__occupation {
        font-size: 20px;
        padding-top: 20px; }
      .info-content__contacts {
        margin-top: 30px;
        margin-bottom: 30px; }
    .info-resume {
      max-width: 170px; }
      .info-resume__link {
        font-size: 20px; }
      .info-resume__title {
        font-size: 12px; }

  .contact-btns {
    bottom: 60px;
    right: 120px; }
    .contact-btns__telegram {
      right: 16px;
      bottom: 1px; }
    .contact-btns__viber {
      left: 10px;
      bottom: 23px; }
    .contact-btns__skype {
      left: 70px;
      bottom: 1px; }
    .contact-btns__img {
      width: 30px; }
      .contact-btns__img_main {
        width: 45px; }

  .title-section {
    font-size: 22px;
    margin-top: 50px; }

  .education {
    margin-top: 0px;
    margin-bottom: 50px; }
    .education-item__institution {
      font-size: 16px; }
    .education-item__course {
      font-size: 16px; }

  .skills {
    margin-top: 50px; }
    .skills__list {
      font-size: 16px; }

  .personal__list {
    font-size: 16px; } }
@media (max-width: 600px) {
  .header-logo {
    font-size: 24px; }
  .header-resume__link {
    font-size: 23px; }
  .header-resume__title {
    display: none; } }
@media (max-width: 400px) {
  .info-content__img {
    width: 200px;
    margin-bottom: 40px; }
  .info-content__name {
    font-size: 22px; }
  .info-content__occupation {
    font-size: 16px;
    padding-top: 15px; }

  .contacts-title__item {
    font-size: 16px;
    padding: 7px 0; }

  .contacts-value__item {
    font-size: 14px;
    padding: 8px 0; } }

/*# sourceMappingURL=adaptive.css.map */
