html {
  scroll-behavior: smooth; }

body {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-family: Rubik,sans-serif; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px; }

.contact-btns {
  position: fixed;
  bottom: 80px;
  right: 160px;
  z-index: 100; }
  .contact-btns__item {
    position: absolute;
    cursor: pointer;
    animation: scaleIn 2.5s;
    animation-fill-mode: forwards;
    opacity: 0; }
  .contact-btns .contact-btns__img {
    transition: all 0.2s; }
  .contact-btns .contact-btns__img:hover {
    transform: scale(1.2); }
  .contact-btns__telegram {
    right: 16px;
    bottom: 3px;
    animation-delay: .2s; }
  .contact-btns__viber {
    left: 12px;
    bottom: 25px;
    animation-delay: .4s; }
  .contact-btns__skype {
    left: 78px;
    bottom: 3px;
    animation-delay: .6s; }
  .contact-btns__img {
    width: 40px; }
    .contact-btns__img_main {
      width: 60px; }

.header {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  padding: 15px;
  z-index: 5; }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto; }
  .header-logo {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    color: #706f6f; }
  .header-resume {
    display: flex;
    align-items: center;
    padding-right: 30px; }
    .header-resume__link {
      font-size: 30px;
      color: #c8aa8c;
      padding-right: 10px; }
    .header-resume__title {
      display: block;
      color: #706f6f;
      text-transform: uppercase;
      font-size: 16px; }

.fixed-header {
  position: fixed;
  display: block;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: .2s; }

.info {
  padding-top: 120px; }
  .info-content {
    display: flex;
    justify-content: space-around; }
    .info-content__img {
      width: 300px;
      border-radius: 50%;
      padding: 15px; }
    .info-content__name {
      display: inline-block;
      font-size: 42px;
      text-transform: uppercase;
      letter-spacing: 6px;
      font-weight: 400;
      color: #706f6f; }
    .info-content__occupation {
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #c8aa8c;
      padding-top: 25px; }
    .info-content__contacts {
      display: flex;
      margin-top: 15px; }
  .info-resume {
    margin-top: 20px;
    max-width: 230px; }
    .info-resume__btn {
      display: flex;
      align-items: center;
      text-decoration: none;
      border: 1px solid #c8aa8c;
      padding: 10px;
      color: #706f6f;
      text-transform: uppercase;
      font-size: 16px;
      box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2); }
    .info-resume__link {
      font-size: 30px;
      color: #c8aa8c;
      padding-right: 10px; }
    .info-resume__title {
      color: #706f6f;
      text-transform: uppercase;
      font-size: 16px; }

.contacts-title {
  margin-right: 35px;
  color: #c8aa8c; }
  .contacts-title__item {
    padding: 10px 0;
    font-size: 22px;
    font-weight: 200; }

.contacts-value {
  color: #706f6f; }
  .contacts-value__item {
    padding: 12px 0;
    font-size: 18px;
    font-weight: 200;
    color: #706f6f; }
  .contacts-value__link {
    color: #706f6f; }

.title-section {
  text-transform: uppercase;
  color: #786858;
  margin-bottom: 25px;
  font-size: 26px;
  margin-top: 100px; }

.education {
  margin-top: 50px; }
  .education-items {
    border-left: 1px solid #706f6f;
    padding-top: 15px;
    padding-bottom: 15px; }
  .education-item {
    max-width: 500px;
    position: relative;
    cursor: pointer; }
    .education-item__date {
      color: #c8aa8c;
      padding: 3px;
      font-size: 14px;
      line-height: 20px;
      padding-left: 20px;
      display: inline-block; }
    .education-item__wrap {
      padding: 20px; }
    .education-item__institution {
      color: #706f6f;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 500;
      padding-bottom: 10px; }
    .education-item__course {
      color: #706f6f;
      font-size: 16px; }
  .education-item::before {
    content: ' ';
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    border: 4px solid #c8aa8c;
    position: absolute;
    top: 0;
    left: -12px; }
  .education-item:hover::before {
    background-color: #c8aa8c;
    transition: all .2s;
    border: 2px solid white;
    left: -10px; }

.career-item {
  display: flex;
  align-items: baseline;
  border-top: 1px solid #c8c5c5;
  padding-top: 15px; }
  .career-item__date {
    color: #c8aa8c;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 5px;
    padding-right: 20px; }
  .career-item__company {
    color: #706f6f;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
    text-transform: uppercase; }
  .career-item__occupation {
    color: #706f6f;
    font-size: 16px;
    font-weight: 500; }

.skills__list {
  padding-top: 10px;
  margin-top: 11px;
  line-height: 25px;
  color: #706f6f;
  position: relative;
  padding-left: 25px;
  border-top: 1px solid #c8c5c5; }
.skills__item {
  padding-bottom: 5px; }
.skills__item::before {
  content: url(/images/check.svg);
  width: 15px;
  position: absolute;
  left: 0; }

.certificates-items {
  padding-top: 10px;
  margin-top: 11px;
  line-height: 25px;
  color: #706f6f;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-top: 1px solid #c8c5c5; }
.certificates-item {
  margin-left: 15px;
  text-align: center; }
  .certificates-item__name {
    color: #c8aa8c;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 5px; }
  .certificates-item__id {
    color: #706f6f;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    display: block; }
  .certificates-item__img {
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 10px;
    width: 250px;
    border-top: 2px solid #c8aa8c;
    border-left: 2px solid #c8aa8c;
    border-bottom: 2px solid #706f6f;
    border-right: 2px solid #706f6f;
    border-radius: 7px;
    cursor: pointer; }

.language-items {
  position: relative;
  padding-top: 10px;
  border-top: 1px solid #c8c5c5;
  margin-top: 11px;
  line-height: 25px;
  color: #706f6f; }
.language-item {
  color: #706f6f;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 20px; }
.language-item::before {
  content: url(/images/check.svg);
  width: 15px;
  position: absolute;
  left: 0; }

.portfolio-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #c8c5c5; }
.portfolio-item {
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px; }
  .portfolio-item__img {
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 10px;
    width: 350px;
    border-top: 2px solid #c8aa8c;
    border-left: 2px solid #c8aa8c;
    border-bottom: 2px solid #706f6f;
    border-right: 2px solid #706f6f;
    border-radius: 7px; }

.personal {
  margin-bottom: 50px; }
  .personal__list {
    border-top: 1px solid #c8c5c5;
    padding-top: 10px;
    margin-top: 11px;
    line-height: 25px;
    color: #706f6f;
    position: relative;
    padding-left: 25px; }
  .personal__item::before {
    content: url(/images/check.svg);
    width: 15px;
    position: absolute;
    left: 0; }

.footer {
  margin-bottom: 50px;
  margin-top: 100px; }
  .footer__contacts__list {
    display: flex;
    padding: 0;
    margin-top: 36px;
    align-items: center;
    justify-content: space-between; }
  .footer__contacts__icon {
    width: 15px; }
  .footer__contacts__text-small {
    color: #706f6f; }
  .footer__contacts__link {
    color: #000;
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
    display: block; }

.modal-certificates {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 101; }
  .modal-certificates__inner {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: #fefefe;
    padding-top: 60px;
    border: 1px solid #888;
    line-height: 1.4;
    text-align: center; }
  .modal-certificates__close {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px; }
  .modal-certificates__img {
    max-height: calc(100vh - 75px);
    max-width: 100vw; }

.open-modal {
  display: block; }

.arrow-up {
  width: 50px;
  background-color: #c8aa8c;
  position: fixed;
  top: 50%;
  transform: translateY(-25px);
  right: -100px;
  padding: 7px;
  border-radius: 30px 0 0 30px; }
  .arrow-up__btn {
    width: 35px;
    color: #706f6f;
    cursor: pointer; }

.fixed-arrow-up {
  right: 0px;
  transition: all .3s; }

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
